html {
    background-color: lightblue;
}

.strikeThrough {
    text-decoration: line-through;
}

h1 {
    text-align: center;
}

input[type="text"] {
    display: block;
    margin : 0 auto;
}

#toDoList{
    width: 50%;
    float: left;
}

#complete{
    width: 50%;
    float: right;
}