@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";

html {    
    box-sizing: border-box;
}
body {
    background-color: lightcyan
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }
  
/* .container {

}

#url-form {

}

#hash-display {

} 

.url-list-container {


#url-table td {
}

#url-table th {
}


#list-links {

} */