#done {
    text-decoration: line-through;
}

body {
    background-color: orange;
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    width: 100%;
}

#inputSubmit {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

#completeItems {
    display: flex;
    background-color: purple;
    width: 50%;
    color: white;
    height: 500px;
}

#toDo {
    background-color: limegreen;
    width: 50%;
    color: black;
    height: 500px;
}

h4 {
    display: flex;
    text-align: center;
    
}

li { 
    list-style-type: none;
}

button {
    background-color: black;
    color: white;
}

#clear-list {
    display: flex;
    background-color: black;
    color: white;
    /* width: 100%; */
    align-self: flex-end
    
    

}

/* remove items from complete items, clear out list
on double click
change up user features */