#done {
    text-decoration: line-through;
}


body {
    background-color: orange;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    width: 100%;
}

#inputSubmit {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

#completeItems {
    text-align: center;
    background-color: purple;
    width: 50%;
    color: white;
    
    
}

#toDo {
    background-color: limegreen;
    width: 50%;
    color: black;
}

h4 {
    display: flex;
    text-align: center;
    
}

li { 
    list-style-type: none;
}

button {
    background-color: black;
    color: white;
}

#clear-list {
    background-color: black;
    color: white;
    align-self: flex-end
}
